---
import StoryCard from "$lib/components/card.svelte";
import BaseLayout from "$layouts/BaseLayout.astro";
import { getCollection, getEntry } from "astro:content";
let posts = await getCollection("tips");
posts.sort((a, b) => b.data.published - a.data.published);
posts = posts.slice(0, 20);
---

<BaseLayout>
	<h1 class="font-bold font-sans text-center text-4xl">Tips</h1>
	<h2 class="text-center italic">Tiny programming guides</h2>
	<div
		class="m-auto grid p-4 gap-5 md:p-0 md:w-3/4 md:grid-cols-2 lg:grid-cols-3"
	>
		{
			posts.map(async (item, index) => {
				const author = await getEntry("author", item.data.author.slug);
				return (
					<StoryCard item={item} lazy={index > 0} author={author} />
				);
			})
		}
	</div>
</BaseLayout>
