---
import BaseLayout from "$layouts/BaseLayout.astro";
---

<BaseLayout SEO={{ title: "404 - ByteofDev" }}>
	<div class="min-h-screen bg-base-200 hero">
		<div class="text-center hero-content">
			<div class="max-w-md">
				<h1 class="font-bold mb-5 text-5xl">404</h1>
				<p class="text-xl mb-6">Looks like you got lost :(</p>
				<a class="btn btn-primary" href="/">Return home</a>
			</div>
		</div>
	</div>
</BaseLayout>
