---
import EmailPrompt from "$lib/components/emailPrompt.svelte";
import BaseLayout from "$layouts/BaseLayout.astro";
---

<BaseLayout
	SEO={{
		title: "About ByteofDev",
		description: "About ByteofDev and its origins, its tech stack, and credits",
	}}
>
	<div class="m-auto md:w-3/4 lg:w-1/2">
		<h1 class="font-bold text-center mb-6 text-5xl">About</h1>
		<h2>Blog origins</h2>
		<p>
			I (AsyncBanana) created this blog to share my articles about web
			development and other forms of programming. I started this blog recently,
			and so it is still in heavy development.
		</p>
		<h2>Tech stack</h2>
		<p>This blog uses these tools:</p>
		<ul class="list-disc ml-6">
			<li>Hosting: Fullstack Cloudflare Pages</li>
			<li>Frontend UI Framework: Svelte</li>
			<li>Backend SSG: Astro</li>
			<li>CSS Framework: TailwindCSS</li>
			<li>CSS Components: DaisyUI</li>
			<li>Mailing list management: Sendgrid</li>
		</ul>
		<h2>Credits</h2>
		<p>
			Medium and CSS-Tricks have inspired many design elements for this blog.
			Additionally, TailwindCSS, DaisyUI, and Astro have been very helpful
			tools. Some of the icons are from FontAwesome
		</p>
		<br />
		<EmailPrompt method="About Page" />
	</div>

	<style lang="postcss">
		div h2 {
			@apply font-bold border-b-gray-400 border-b-2 border-opacity-25 mb-2 p-1 text-4xl;
		}
	</style>
</BaseLayout>
