---
import BaseLayout from "$layouts/BaseLayout.astro";
import SignupPageForm from "$lib/components/signupPageForm.svelte";
---

<BaseLayout
	SEO={{
		title: "Sign up for the ByteofDev mailing list",
		description:
			"Sign up here to get programming news delivered to your mailbox",
	}}
>
	<div class="m-auto md:w-3/4 lg:w-1/2">
		<h1 class="font-bold text-center mb-6 text-5xl">
			Sign up for the mailing list
		</h1>
		<h2 class="text-center italic">
			Get programming news delivered to your mailbox
		</h2>
		<SignupPageForm client:idle />
	</div>
</BaseLayout>
