---
const id = (await Astro.slots.render("default"))
	.toLocaleLowerCase()
	.replaceAll(" ", "-");
---

<h5 {id}>
	<slot />
	<a tabindex="-1" href={"#" + id}
		><span class="headerLink" aria-hidden></span></a
	>
</h5>
