---
/* Image component configuration:
    Prefix alt with |attr| to enable
    e.g. [|attr| cool JavaScript thing]
	Used to be used for fullwidth, right now just being left in case future uses arise
*/
let attrs = [];
if (Astro.props.alt && Astro.props.alt[0] === "|") {
	if (!Astro.props.alt.indexOf("|", 1))
		throw new Error(
			"Unopened image config sequence with alt " + Astro.props.alt
		);
	attrs = Astro.props.alt.slice(1, Astro.props.alt.indexOf("|", 1)).split(",");
	Astro.props.alt = Astro.props.alt.split("|")[2].trimStart();
}
---

<figure>
	<button class="max-w-full cursor-zoom-in">
		<img
			src={Astro.props.src}
			alt={Astro.props.alt}
			title={Astro.props.title}
			class={"max-w-full"}
		/>
	</button>
	{Astro.props.title ? <figcaption>{Astro.props.title}</figcaption> : ""}
</figure>
